:root {
	--main-font: Arial, Helvetica, sans-serif;
	/* --foreground-color: rgb(255, 255, 255); */
	--foreground-color: white;
	--accent-color: rgb(134, 27, 27);
	--background-color: rgb(27, 30, 124);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 160%;
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}
html body {
	overflow-x: hidden;
	min-height: 100vh;
	width: 100vw;
}
body {
	font-family: var(--main-font);
	background-color: var(--background-color);
	color: var(--foreground-color);
	accent-color: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
}

.animation-container,
.animation-caption {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.animation-container.show,
.animation-caption.show {
	opacity: 1;
}

.animation-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: grid;
	grid-template: 1fr/1fr;
}

.animation-caption,
#cnv,
#noOffscreenCnv {
	grid-row: 1;
	grid-column: 1;
	position: relative;
}

.animation-caption,
#noOffscreenCnv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#cnv {
	display: block;
	z-index: 1;
}

#noOffscreenCnv {
	z-index: 3;
	background: var(--accent-color);
	color: white;
}

.animation-caption {
	min-width: fit-content;
	z-index: 2;
	font-size: 6rem;
	padding: 0.5em;
	border-radius: 0.5em;
	text-shadow: 0.05em 0.05em var(--background-color);
}

.icon-container {
	height: 2.5rem;
}

.icon {
	height: 100%;
	width: auto;
	overflow: visible;
	cursor: pointer;
}

.icon rect,
.icon polygon {
	fill: var(--foreground-color);
}

.icon-container.pause-play {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 10;
}

.icon.pause:not(.paused) rect,
.icon.pause.paused polygon {
	opacity: 1;
}

.icon.pause:not(.paused) polygon,
.icon.pause.paused rect {
	opacity: 0;
}

.icon.pause rect,
.icon.pause polygon {
	transition: opacity 0.2s ease;
}
